<html>
    <head>
        <title>
            404error
        </title>
    </head>
    <body>
        {{>header}}
        <h1>
           404 error 
        </h1>
        <p>Page not found</p>
    </body>
</html>