<html>
    <head>
        <title>
            my personal shit
        </title>
    </head>
    <body>
        {{>header}}
        <h1>About</h1>
        <p><img src="images/em2.jpg" width="200px" height="200px">
            {{title}} a small town boy trying to learn some comp shit to earn some money</p>
          
        
    </body>
</html>